<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Louki error</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/png/ico"/>
    <link rel="stylesheet" href="/views/mongo-error.css"/>

    <body>
      <p>Could not connect to mongo database. Please make sure the variable <span>DATABASE_URL</span> is set in your <span>.env</span> file, and that you started mongodb. Also make sure to restart the server once you have.</p>
    </body>
</html>
