<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Louki</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/png/ico"/>
    <link rel="stylesheet" href="/views/loader.css"/>

    <body>

      <!-- Loading animation -->
      <div class="container">                
        <div class="loader-grid">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
      </div>
      <!-- End of loading animation -->
      
      <!-- React app -->
      <div id="app"></div>
      <!-- End of react app -->

    <% if(process.env.NODE_ENV === 'production') { %>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <% } else { %>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
		<% } %>
        <script type="text/javascript" src='<%- manifest["vendors.js"] %>'></script>
        <script type="text/javascript" src='<%- manifest["main.js"] %>'></script>
    </body>
</html>
